@use './variables' as *;

.checkout {
  display: grid;
  grid-template-columns: 1.2fr 1fr;
  gap: 32px;

  h2 {
    font-size: 26px;
  }
}

.cart,
.delivery-form {
  padding: 30px;
  background: var(--color-gray-100);
  border: 1px solid var(--color-gray-300);
  border-radius: 20px;
}

.cart {
  &__header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-bottom: $space;

    h2, button {margin-bottom: 0;}
  }

  &__item {
    display: grid;
    grid-template-columns: 1fr 100px;
    gap: 16px;
    align-items: center;
    margin-bottom: 12px;
    padding: 16px 24px;
    background: var(--color-secondary-lighter);
    border-radius: 16px;
  }

  &__info {
    h3 {
      margin-bottom: 6px;
    }
    p {
      margin-bottom: 12px;
      color: var(--color-gray-800);
    }
  }

  &__actions {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 12px;

    button {margin-bottom: 6px;}
  }

  &__price {
    color: var(--color-primary);
    font-size: 20px;
  }

  &__total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 24px;
    padding-top: 24px;
    border-top: 2px solid var(--color-gray-200);

    .total {
      font-size: 24px;
      font-weight: 600;
    }

    strong {
      color: var(--color-primary);
      font-size: 26px;
    }
  }
}

.form-group {
  margin-bottom: 20px;

  label {
    display: block;
    margin-bottom: 8px;
    font-weight: 600;
  }
}

@media (max-width: $laptop-sm) {
  .checkout {
    h2 {
      font-size: 22px;
    }
  }
}

@media (max-width: $tablet) {
  .checkout {
    grid-template-columns: 1fr;
  }
}

@media (max-width: $mobile) {
  .cart {
    &__item {
      grid-template-columns: 1fr;
      gap: 0;
    }

    &__actions {
      align-items: flex-start;
    }

    &__price {
      font-size: 22px;
    }
  }
}