@use './variables' as *;

.modal {
  position: fixed;
  inset: 0;
  z-index: 1000;
  background: rgb(0 0 0 / 60%);
  backdrop-filter: blur(3px);
  display: flex;
  padding: 20px;

  &__content {
    width: 100%;
    background: white;
    border-radius: 20px;
    box-shadow: 0 20px 60px rgb(0 0 0 / 25%);
    border: 1px solid var(--color-gray-300);
    padding: 20px 20px 0;
    overflow: hidden;
  }

  &__inner {
    max-height: calc(100vh - 80px);
    overflow: auto;
  }

  &__confirm {
    text-align: center;
    font-size: 20px;

    &-actions {
      display: flex;
      justify-content: center;
      gap: 12px;
    }
  }
}

@media (min-width: ($tablet-sm + 1px)) {
  .modal {
    &--sm {
      align-items: center;
      justify-content: center;

      .modal__content {
        width: 600px;
      }
    }
  }
}